{{ define "main" }}
<section class="home-intro">
  <div class="home-copy">{{ .Content }}</div>
</section>

<section class="home-writing" aria-label="文章列表">
  <ul class="blog-posts">
    {{ range (where .Site.RegularPages "Section" "blog").ByDate.Reverse }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>还没有已发布的文章。</li>
    {{ end }}
  </ul>
</section>
{{ end }}
